[submodule "daram/lib/SimpleDataStructure"]
	path = daram/lib/SimpleDataStructure
	url = git@github.com:MatsuTaku/SimpleDataStructure.git
[submodule "daram/lib/poplar-trie"]
	path = daram/lib/poplar-trie
	url = git@github.com:kampersanda/poplar-trie.git
