# cmake project
/array-fsa/build
results

# xcodeproject
/array-fsa
!*.cpp
!*.hpp
!/array-fsa/CMakeLists.txt

### https://raw.github.com/github/gitignore//C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.dia
*.dat

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Shell
*.sh


### https://raw.github.com/github/gitignore/71b493f5dffb91b2a029845ebd1d30e6ea544f46/C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


