[submodule "array-fsa/lib/SimDS"]
	path = array-fsa/lib/SimDS
	url = git@github.com:MatsuTaku/SimpleDataStructure.git
[submodule "array-fsa/test/lib/googletest"]
	path = array-fsa/test/lib/googletest
	url = git@github.com:google/googletest
[submodule "project/test/lib/googletest"]
	path = project/test/lib/googletest
	url = git@github.com:google/googletest
[submodule "project/lib/SimDS"]
	path = project/lib/SimDS
	url = git@github.com:MatsuTaku/SimpleDataStructure.git
[submodule "software/path_decomposed_tries"]
	path = software/path_decomposed_tries
	url = https://github.com/ot/path_decomposed_tries.git
